---
import { Smile, Beer, Wine, Wifi } from "lucide-astro";
import { getProgrammerbarGroup } from "../lib/data/sanity/programmerbar";
import { initials } from "../lib/initials";
import { echoUrlFor } from "../lib/data/sanity/image";
import BaseLayout from "../layouts/BaseLayout.astro";
import { marked } from "marked";

const programmerbar = await getProgrammerbarGroup();

const content = await marked.parse(programmerbar.description);
---

<BaseLayout title="Om oss">
  <div class="mx-auto mb-10 max-w-4xl space-y-4">
    <h1 class="font-mono text-4xl font-medium">Om oss</h1>

    <div
      class="mx-auto flex h-72 w-96 items-center justify-center gap-4 rounded-xl border-2 bg-gray-100 sm:float-right sm:ml-4"
    >
      <Smile class="h-16 w-16 text-primary" />
      <Beer class="h-16 w-16 text-primary" />
      <Wine class="h-16 w-16 text-primary" />
      <Wifi class="h-16 w-16 text-primary" />
    </div>

    <article
      class="prose-xl font-sans prose-a:text-primary prose-a:hover:underline"
      set:html={content}
    />

    <h2 class="text-2xl font-medium text-gray-900">Medlemmer</h2>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
      {
        programmerbar.members.map(({ profile, role }) => (
          <div class="rounded-xl border bg-background p-4 shadow-md">
            <div class="flex flex-col gap-2">
              {profile.picture ? (
                <img
                  src={echoUrlFor(profile.picture).height(800).width(800).url()}
                  alt={profile.name}
                  class="mx-auto h-16 w-16 rounded-full border-2 border-border bg-gray-200"
                />
              ) : (
                <div class="mx-auto flex h-16 w-16 items-center justify-center rounded-full border-2 border-border bg-gray-200 font-mono text-xl">
                  {initials(profile.name)}
                </div>
              )}
              <div class="text-center">
                <p class="text-xl font-medium">{profile.name}</p>
                <p class="font-mono text-sm font-medium text-gray-700">{role}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
