---
import { getProducts } from "../lib/data/sanity/products";

const products = await getProducts();

const MAX = 6;
const TOTAL_PAGES = Math.ceil(products.length / MAX);
---

<div class="rounded-xl border bg-background p-2 shadow-md">
  <h2 class="py-6 text-center font-mono text-3xl font-medium md:text-4xl">
    <a href="/meny" class="hover:underline">Meny</a>
  </h2>
  <ul class="flex flex-col divide-y overflow-hidden">
    {
      products.slice(0, MAX).map(({ _id, name, producer, priceList }) => (
        <li class="py-1">
          <a href={`/produkt/${_id}`} class="group overflow-hidden">
            <div class="flex h-16 items-center justify-between rounded-xl px-4 py-2 transition-all hover:bg-primary-light">
              <div class="flex flex-col">
                <p class="text-xl group-hover:underline">{name}</p>
                <p class="font-mono text-sm font-medium text-gray-700">{producer}</p>
              </div>

              <div>
                <p class="font-medium">{priceList.student} kr</p>
              </div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>

  <p class="my-2 text-center text-sm font-medium">
    Side {0 + 1} / {TOTAL_PAGES}
  </p>
</div>
